<div class="logo_container">
	<img src="https://cdn.shopify.com/s/files/1/1773/1623/files/revelate_logo.svg?12148522616287460856" />
</div>
<div class="mainContent_container">
	<div class="left_content_container">
		<span class="light-text">To order and for inquiries:</span>
		<a href="mailto:truth@revelate108.com">truth@revelate108.com</a>	
	</div>

	<div class="right_content_container">
		<span class="light-text">Empowering people to reveal their<br /> innate wisdom &amp; eternal essence<br /> in order to thrive.</span>
		<h2>COMING SOON</h2>	
	</div>
</div>
